# Supabase
VITE_SUPABASE_URL=https://ouzlukoktecqbokykldo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_S82HlluBkX8mMQmtCmP1NQ_q9ZNyQn0
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

# Mercado Pago
MP_ACCESS_TOKEN=tu_access_token
MP_PUBLIC_KEY=tu_public_key

# Facturapi
FACTURAPI_KEY=tu_api_key
